<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450679317964-5e123pqroj0ocpmnori0r65u62nnv0kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450679317964-5e123pqroj0ocpmnori0r65u62nnv0kg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>450679317964-2lvhahbpvec7lkj8afaafjesdjlmmmjd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_BwQ-kf_O7XmEXDWuLRLTaPbGxMXKzkw</string>
	<key>GCM_SENDER_ID</key>
	<string>450679317964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toplansin.toplansin</string>
	<key>PROJECT_ID</key>
	<string>toplansin-e4363</string>
	<key>STORAGE_BUCKET</key>
	<string>toplansin-e4363.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450679317964:ios:df5f200c530fdbff48e969</string>
</dict>
</plist>